.wrapper {
    position: absolute;
    top: 100px;
    left: 20px;
    max-width: 500px;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
  }

  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .list-header {
    font-weight: 700;
}

.list-group-item {
    cursor: pointer;
}

.list-content {
    background-color: rgb(216, 246, 239);
}

.hidden {
    display: none;
}