.container-input {
    display: flex;
    justify-content: space-between;
    height: 507px;
    border-radius: 20px 20px 0 0;
    padding: 26px 34px 50px;
}

.left-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 70px;
    background-color: #FFFFFF;
    // opacity: 30%;
    border-radius: 90px;
    font-size: 26px;
    padding: 0 20px;
}

.reset-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    &:first-child {
        font-weight: 600;
    }
}

.left-numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    margin-top: 20px;
    width: 260px;
}

.input-right-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    margin-left: 25px;
    background-color: #FFFFFF;
    border-radius: 90px;
}

.right-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 26px;
    font-weight: 600;

    &:last-child {
        background-color: #dde7f1;
        border-radius: 90px;
    }
}