$backgroundColor: #333;
$secondaryColor: #fff;

.header {
    background: $backgroundColor;

    &-сontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: $secondaryColor;
        height: 60px;
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
    }
}

.header-сontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $secondaryColor;
    height: 60px;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
}

.tabs {
    display: flex;
    gap: 20px;
}

.login-buttons {
    display: flex;
    gap: 10px;
}
