.container-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
  border-radius: 20px;
  margin-bottom: -40px;
}

.container-result-mode {
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;

}

.container-result-value {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 60px;
  padding-right: 34px;
  padding-left: 40px;
}

.value {
  &-process {
      font-size: 22px;
      color: #373737;
      text-align: end;
  }

  &-summ {
      font-size: 40px;
      text-align: end;
  }
}