
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  border-radius: 50%;
}